/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(224, 246, 247);
}

/* stili header  */
div.contenitore-head{
    background-color: white;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 30px;
    
}
#logo{
    width: 70px;
    margin-left: 20px;
    vertical-align: middle;

}
#testo-logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: black;
    vertical-align: middle;
  
}

/* stili main  */
.contenitore{
    width: 70%;
    margin: 0 auto;
    
}
#contenitore-bottoni{
    width: 100%;
    height: 50px;
    background-color: white;
    line-height: 50px;
    border-bottom: 2px rgb(224, 246, 247) solid;
 
}
.bottone-blu{

    vertical-align: middle;
    background-color: rgb(38, 171, 244);
    margin-left: 50px;
    padding: 2px 8px;
    color: white;
    border-radius: 5px;
    height: 30px;
    
}
#bottone-bianco{
    vertical-align: middle;
    border: 1px solid gray;
    margin-left: 10px;
    padding: 2px 8px;
    color: gray;
    border-radius: 5px;
    height: 30px;

}
.spazio-righe{
    margin-bottom: 10px;
}
.row{
    display: inline;
    vertical-align: middle;
}
section{
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: white;
}
.titolo-sezione{
    margin-bottom: 10px;
    font-weight: 600;
    
}
/* icone  */
.spunta{
    border: 1px solid rgb(38, 171, 244);
    border-radius: 50%;
    background-color: white;
    padding: 3px 5px;
    color: rgb(38, 171, 244);
}
.croce{
    border: 1px solid red;
    border-radius: 50%;
    background-color: white;
    padding: 3px 7px;
    color: red;
}
/* /icone  */

.argomento{
    margin-left: 10px;
}
.bottone-main{
    margin-left: 10px;
    padding: 2px 8px;
    color: white;
    border-radius: 10px;
   
}
#pulsante-blu{
    background-color: rgb(38, 171, 244);
}
#pulsante-viola{
    background-color: rgb(169, 91, 230);
}
#pulsante-verde{
    background-color: rgb(59, 199, 171);
}
#pulsante-arancio{
    background-color: rgb(252, 154, 10);
}
#pulsante-rosa{
    background-color: rgb(232, 70, 159);
}
#pulsante-lime{
    background-color: rgb(165, 210, 15);
}
